<div class="row">
    <div class="col-xs-6">
        <div class="col-xs-6">
            <img src="https://image.flaticon.com/icons/svg/985/985698.svg" alt="text" style="max-height: 50px;">
        </div>
        <div class="col-xs-6">
            <p>Give</p>
            <p style="align-self: center;">{{coinsGive}}</p>
        </div> 
        </div>
    <div class="col-xs-6">
        <div class="col-xs-6">
            <img src="https://image.flaticon.com/icons/svg/985/985698.svg" alt="text" style="max-height: 50px;">
        </div>
        <div class="col-xs-6">
            <p>Receive</p>
            <p style="align-self: center;">{{coinsReceive}}</p>
        </div>
    </div>
</div>