<div>
    <div id="div_filter" style="display: inline-block; list-style-type: none;">
        <label>Filter by:</label>
        <select class="form-control">
            <option selected>Warriors</option>
            <option selected>Guild Master</option>
            <option selected>Ancients</option>
        </select>
    </div>

    <h2 style="margin-top: 3%;">Warrior's Table</h2>
    <table class="table">
        <thead>
            <tr>
            <th scope="col">#</th>
            <th scope="col">Username</th>
            <th scope="col">Email</th>
            <th scope="col">Gender</th>
            <th scope="col">User Type</th>
            <th scope="col">XP</th>
            <th scope="col">Champies To Give</th>
            <th scope="col">My Champies</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Username</td>
                <td>Email</td>
                <td>Gender</td>
                <td>User Type</td>
                <td>XP</td>
                <td>Champies To Give</td>
                <td>My Champies</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Username</td>
                <td>Email</td>
                <td>Gender</td>
                <td>User Type</td>
                <td>XP</td>
                <td>Champies To Give</td>
                <td>My Champies</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Username</td>
                <td>Email</td>
                <td>Gender</td>
                <td>User Type</td>
                <td>XP</td>
                <td>Champies To Give</td>
                <td>My Champies</td>
            </tr>
        </tbody>
    </table>
</div>