<div class="row">
    <div class="col-xs-4" style="text-align: center;">
       <button class="btn btn-link" type="button" ><img src="https://static.thenounproject.com/png/6758-200.png" alt="text" class="img-responsive" style="max-height: 50px;"></button>
       <h3>Reward</h3>
    </div>
    <div class="col-xs-4" style="text-align: center;">
        <button class="btn btn-link" type="button"><img src="https://cdn2.iconfinder.com/data/icons/furniture-home-decorations-2-1/96/Furniture__home_decorations__closet_with_opened_door-512.png" alt="text" class="img-responsive" style="max-height: 50px;"></button>
        <h3>Closet</h3>
    </div>
    <div class="col-xs-4" style="text-align: center;">
       <button class="btn btn-link" type="button"><img src="https://images.vexels.com/media/users/3/153065/isolated/preview/ba0a47019b13d2bf2adfe0d8a1656fd0---cone-plana-de-claquete-by-vexels.png" alt="text" class="img-responsive" style="max-height: 50px;"></button>
       <h3>Videos</h3>
    </div>
</div>
