#card{
    width: 300px;
    height: 500px;
    position: absolute;
    left: 100%;
    top: 290%;
    transform: translate(0%, 0%);
}
label, input{
    box-sizing: content-box;
  }
#card_button{
    width: 300px;
    height: 500px;
    position: absolute;
    left: 0%;
    top: 0%;
    transform: translate(0%, 0%);
}

#save_button{
    position: absolute;
    right:    0;
    bottom:   0;
}

@font-face{
    src: url(../../../fonts/ka1.ttf);
    font-family: karmatic-arcade;
  }

*{
    font-family: karmatic-arcade;
}