<div class="row">
    <div class="col-xs-2">
        <p><img src="https://image.flaticon.com/icons/svg/286/286964.svg" alt="hand" style="max-height: 75px;"></p>
        <button type="submit" class="btn">Add new skin</button>
    </div>
    <div class="col-xs-9">
        <div style="margin-bottom: 2%;">
            <label>Skin Name</label>
            <input style="margin-left: 1%;">
        </div>
        <div style="margin-bottom: 2%;">
            <label>Mininum XP</label>
            <input style="margin-left: 1%;">
        </div>
        <div style="margin-bottom: 2%;">
            <label>Number of Champions</label>
            <input style="margin-left: 1%;">
        </div>
        <div style="margin-bottom: 2%;">
            <label>Skin Type</label>
            <div style="display: inline-block;" style="margin-right: 4%; margin-bottom: 7%;">
                <select id="inputSubject" class="form-control">
                    <option selected>Select a skin type</option>
                    <option>Skin</option>
                    <option>Hair</option>
                    <option>Top</option>
                    <option>Bottom</option>
                    <option>Shoes</option>
                    <option>Others</option>
                </select>
                <button id="save_button" type="submit" class="btn btn-success" style="margin-top: 5%; margin-right: 5%;">Save</button>
            </div>
        </div>
    </div>
</div>