<form [formGroup]="addSkinForm" (ngSubmit)="onSubmit(addSkinForm.value); addSkin.reset()" action="" class="container-fluid">
    <div class="form-row">
        <div class="form-group">
            <div class="col-xs-2">
                <img src="imagePath.value" alt="" >
                <input type="file" formControlName="file" class="form-control; btn btn-primary" required alt="Add Skin Image" id="imagePath" style="transform: translate(-40%,0%);">
            </div>
        </div>
        <div class="col-xs-9">
            <div class="form-group">
                <div style="margin-bottom: 2%;">
                    <label>Skin Name</label>
                    <input type="text" formControlName="skinName" class="form-control" required>
                </div>
            </div>
            <div class="form-group">
                <div style="margin-bottom: 2%;">
                    <label>Mininum XP</label><input type="text" formControlName="mininumXP" class="form-control" required>
                </div>
            </div>
            <div class="form-group">
                <div style="margin-bottom: 2%;">
                    <label>Number of Champies</label> <input type="text" formControlName="numberOfChampies" class="form-control" required>
                </div>
            </div>
            <div style="margin-bottom: 2%;">
                <label style="margin-right: 5px;">Skin Type</label>
                <div style="display: inline-block;margin-right: 4%; margin-bottom: 7%;">
                    <select id="inputSubject" formControlName="skinType" class="form-control" required>
                        <option selected>Select a skin type</option>
                        <option>Skin</option>
                        <option>Hair</option>
                        <option>Top</option>
                        <option>Bottom</option>
                        <option>Shoes</option>
                        <option>Others</option>
                    </select>
                    <button id="save_button" type="submit" class="btn btn-primary" style="margin-top: 5%; margin-right: 5%;" [disabled]="!addSkinForm.valid" (click)="submit();">Save</button>
                </div>
            </div>
        </div>  
    </div>
</form>