<div class="form-row">
    <div class="form-group">
        <div class="col-xs-2">
            <img src="imagePath.value" alt="" >
            <input type="file" class="form-control; btn btn-primary" alt="Add Skin Image" id="imagePath" style="transform: translate(-40%,0%);">
        </div>
    </div>
    <div class="col-xs-9">
        <div class="form-group">
            <div style="margin-bottom: 2%;">
                <label>Skin Name</label>
                <input type="text" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <div style="margin-bottom: 2%;">
                <label>Mininum XP</label>
                <input type="text" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <div style="margin-bottom: 2%;">
                <label>Number of Champies</label>
                <input type="text" class="form-control">
            </div>
        </div>
        <div style="margin-bottom: 2%;">
            <label style="margin-right: 5px;">Skin Type</label>
            <div style="display: inline-block;margin-right: 4%; margin-bottom: 7%;">
                <select id="inputSubject" class="form-control">
                    <option selected>Select a skin type</option>
                    <option>Skin</option>
                    <option>Hair</option>
                    <option>Top</option>
                    <option>Bottom</option>
                    <option>Shoes</option>
                    <option>Others</option>
                </select>
                <button id="save_button" type="submit" class="btn btn-success" style="margin-top: 5%; margin-right: 5%;" (click)="saveSkin()">Save</button>
            </div>
        </div>
    </div>  
</div>