<div class="row">
    <div class="col-xs-12">
        <button type="button" class="btn btn-primary" style="min-width: 300px; text-align: left; text-align: justify;">
            <h2>Closet</h2>
        </button>
    </div>
</div>
<div class="row">
        <div class="col-xs-12">
            <button type="button" class="btn btn-primary" style="min-width: 300px; text-align: left; text-align: justify;">
            <h2>Guilds</h2>
        </button>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
            <button type="button" class="btn btn-primary" style="min-width: 300px; text-align: left; text-align: justify;">
            <h2>Events</h2>
            </button>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <button type="button" class="btn btn-primary" style="min-width: 300px; text-align: left; text-align: justify;">
            <h2>Warriors</h2>
        </button>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <button type="button" class="btn btn-primary" style="min-width: 300px; text-align: left; text-align: justify;">
                <h2>Ancients</h2>
        </button>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <button type="button" class="btn btn-primary" style="min-width: 300px; text-align: left; text-align: justify;">
                <h2>GuildMasters</h2>
        </button>
    </div>
</div>