<body>
    <section>
        <nav>
            <div class="centered">
                <div class="col-xs-4" style="text-align: center;">
                    <button class="btn btn-link" type="button" ><img src="https://image.flaticon.com/icons/svg/2097/2097137.svg" alt="text" class="img-responsive" style="max-height: 50px;"></button>
                    <h4>Events</h4>
                </div>
            </div>
        </nav>
            
        <article>
            <div class="split-right" style="display: inline-block;">
                <div class="centered" style="margin-top: 1%;">
                    <form class="form-inline">
                        <div id="line">
                            <div class="form-check mb-2 mr-sm-2">
                                <label class="form-check-label" type="inlineFormCheck">Name and date of the event</label>
                            </div>
                            <div class="form-check mb-2 mr-sm-2" id="labels" style="display: inline-flex; justify-content: flex-end">
                                <input class="form-check-input" type="checkbox" id="inlineFormCheck">
                                <span class="form-check-label" for="inlineFormCheck" style="margin:5px;">
                                    Went
                                </span>
                                <input class="form-check-input" type="checkbox" id="inlineFormCheck">
                                <span class="form-check-label" for="inlineFormCheck">
                                    Didn't go
                                </span>
                            </div>
                        </div>
                        <div id="line">
                            <div class="form-check mb-2 mr-sm-2">
                                <label class="form-check-label" type="inlineFormCheck">Name and date of the event</label>
                            </div>
                            <div class="form-check mb-2 mr-sm-2" id="labels" style="display: inline-flex; justify-content: flex-end">
                                <input class="form-check-input" type="checkbox" id="inlineFormCheck">
                                <span class="form-check-label" for="inlineFormCheck" style="margin:5px;">
                                    Went
                                </span>
                                <input class="form-check-input" type="checkbox" id="inlineFormCheck">
                                <span class="form-check-label" for="inlineFormCheck">
                                Didn't go
                                </span>
                            </div>
                        </div>
                        <div class="text-right" style="padding-left: 225%;">
                            <button type="submit" class="btn btn-primary mb-2" >Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </article>
    </section>
</body>