 <body>
    <section>
        <nav>
            <div class="centered">
                <div class="col-xs-4" style="text-align: center;">
                    <button class="btn btn-link" type="button" ><img src="https://image.flaticon.com/icons/svg/771/771171.svg" alt="text" class="img-responsive" style="max-height: 50px;"></button>
                    <h3>Reward</h3>
                </div>
            </div>
        </nav>
          
        <article>
            <div class="split right" style="margin-top: 5%;">
                <div class="centered">
                    <div>
                        <label>From:</label>
                        <input type="text" style="margin-left: 1em;">
                    </div>
                    <div style="margin-top: 3%;">
                        <label>To:</label>     
                        <input type="text" style="margin-left: 1em;">
                    </div>
                </div>
                <div>
                    <div style="margin-top: 3%;">
                        <img src="https://image.flaticon.com/icons/svg/138/138294.svg" width="20" height="20">
                        <input type="text" style="margin-left: 1em;">
                        <input type="text" style="margin-left: 1em;">
                        <img src="https://image.flaticon.com/icons/svg/138/138233.svg" style="margin-left: 1em;" width="20" height="20">
                    </div>
                    <div style="margin-top: 3%;">
                        <label id="labelWhy">Why</label>
                    </div>
                    <div style="margin-top: 3%;">
                        <textarea rows="6" cols="60"></textarea>
                    </div>
                </div>
            </div>
            <div id="sendReward">
                <button type="submit" class="btn btn-link" style="text-align: center;">
                    <span style="font-size: 350%" id="letterSend">&#9993;</span>
                    <label id="send">Send</label>
                </button>
            </div>
        </article>
    </section>
</body>