 <body>
    <section>
        <nav>
            <div class="centered">
                <div class="col-xs-4" style="text-align: center;">
                    <button class="btn btn-link" type="button" ><img src="https://static.thenounproject.com/png/6758-200.png" alt="text" class="img-responsive" style="max-height: 50px;"></button>
                    <h3>Reward</h3>
                </div>
            </div>
        </nav>
          
        <article>
            <div class="split right">
                <div class="centered">
                    <label>From:</label>
                    <input type="text" style="margin-left: 1em;">
                    <hr>
                    <label>To:</label>     
                    <input type="text" style="margin-left: 1em;">
                </div>
                <div>
                    <hr>
                    <img src="https://www.clipartwiki.com/clipimg/full/16-168157_file-clock-simple-svg-simple-clock-clipart.png" width="20" height="20">
                    <input type="text" style="margin-left: 1em;">
                    <input type="text" style="margin-left: 1em;">
                    <img src="https://image.flaticon.com/icons/png/512/2108/2108090.png" style="margin-left: 1em;" width="20" height="20">
                    <hr>
                    <label id="labelWhy">Why</label>
                    <hr>
                    <textarea rows="6" cols="60"></textarea>
                </div>
            </div>
            <div id="sendReward">
                <span style="font-size: 350%" id="letterSend">&#9993;</span>
                <label id="send">Send</label>
            </div>
        </article>
    </section>
</body>