<div class="Profile_container" id="Profile_container">
    <div class="row">
        <div class="col-md-2" style="margin-left: auto;margin-right: auto;">
            <app-image [name]="warrior.name"></app-image>
        </div>
        <div class="col-md-9" style="margin-left: 50px;">
            <app-warrior-details [XP]="warrior.xp" [coinsGive]="warrior.coinsGive" [coinsReceive]="warrior.coinsReceived"></app-warrior-details>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <app-warrior-details [XP]="warrior.xp" [coinsGive]="warrior.coinsGive" [coinsReceive]="warrior.coinsReceived"></app-warrior-details>
        </div>
    </div>
</div>