<body>
    <section>
        <nav>
            <div class="centered">
                <div class="col-xs-4" style="text-align: center;">
                    <button class="btn btn-link" type="button"><img src="https://images.vexels.com/media/users/3/153065/isolated/preview/ba0a47019b13d2bf2adfe0d8a1656fd0---cone-plana-de-claquete-by-vexels.png" alt="text" class="img-responsive" style="max-height: 50px;"></button>
                    <h3>Add new video</h3>
                </div>
            </div>
        </nav>
            
        <article>
            <div class="split right">
                <div class="centered">
                    <div style="margin-bottom: 25px;">
                        <label>Video Name</label>
                        <input style=" margin-left: 2%;">
                    </div>
                    <div style="margin-bottom: 25px;">
                        <div style="display: inline-block; margin-right: 2%;">
                            <label for="labelInputSubject">Subject</label>
                        </div>
                        <div style="display: inline-block;">
                            <select id="inputSubject" class="form-control">
                                <option selected>Select a subject</option>
                                <option>Java</option>
                                <option>Spring</option>
                                <option>Angular</option>
                            </select>
                        </div>
                    </div>
                    <div>   
                        <label>Duration</label>
                        <input style=" margin-left: 2%;">
                    </div>
                </div>
            </div>
            <div>
                <button type='submit' class="btn btn-primary">Save</button>
            </div>
        </article>
    </section>
</body>