<div class="row">
    <div class="col-xs-12">
        <img src="{{skinImagePath}}" alt="" style="max-height: 50px;">
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <img src="{{hairImagePath}}" alt="" style="max-width: 50px; margin-top: -110px;">
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <img src="{{shirtImagePath}}" alt="" style="max-height: 50px; background: white; margin-top: -20px;">

    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <img src="{{pantsImagePath}}" alt="" style="max-height: 50px; background: white">
    </div>
</div>
