<div class="card" id="card">
  <div class="card-header">
    <h5 class="mb=0">
      Define a new password
    </h5>
  </div>
  <div class="card-body">
    <form action="" class="container-fluid">
      <div class="form-row">
        <div class="col-12">
          <div class="form-group">
            <label for="newPassword">New Password</label>
            <input type="password" class="form-control" id="newPassword" placeholder="Enter your new password">
          </div>
        </div>
      </div>
      <br>
      <div class="form-row">
          <div class="col-12">
            <div class="form-group">
              <label for="confirmPassword">Confirm Password</label>
              <input type="password" class="form-control" id="confirmPassword" placeholder="Reenter your new password">
            </div>
          </div>
        </div>
      <div  class="form-row">
        <div class="col-12">
          <div class="form-group">
            <button type='submit' class="btn btn-primary">Change</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>