<body>
    <section>
        <nav>
            <div class="centered">
                <div class="col-xs-4" style="text-align: center;">
                    <button class="btn btn-link" type="button" ><img src="https://image.flaticon.com/icons/svg/1301/1301508.svg" alt="text" class="img-responsive" style="max-height: 50px;"></button>
                    <h3>Notifications</h3>
                </div>
            </div>
        </nav>
              
        <article>
            <div class="split right">
                <div class="centered">
                    <div class="spaceBetweenLines">
                        <span class="label label-default" style="font-size: 15pt">Notification 1</span> 
                    </div>
                    <div class="spaceBetweenLines2">
                        <p>description of the notification</p>
                    </div>
                    <div class="spaceBetweenLines">
                        <span class="label label-default" style="font-size: 15pt">Notification 2</span> 
                    </div>
                    <div class="spaceBetweenLines2">
                        <p>description of the notification</p>
                    </div>
                    <div class="spaceBetweenLines">
                        <span class="label label-default" style="font-size: 15pt">Notification 3</span> 
                    </div>
                    <div class="spaceBetweenLines2">
                        <p>description of the notification</p>
                    </div>  
                </div>
            </div>
            <div class="bottomright">
                <button class="btn btn-primary" (click)="redirectToProfile()">Close</button>
            </div>
        </article>
    </section>
</body>