<div class="card" id="card">
    <div class="card-header">
      <h5 class="mb=0">
        <h2>Welcome!</h2>
      </h5>
    </div>
    <div class="card-body">
      <form action="" class="container-fluid">
        <div class="form-row">
          <div class="col-12">
            <div class="form-group">
              <label for="newPassword">Email</label>
              <input type="email" class="form-control" id="newPassword" >
            </div>
          </div>
        </div>
        <br>
        <div class="form-row">
            <div class="col-12">
              <div class="form-group">
                <label for="confirmPassword">Password</label>
                <input type="password" class="form-control" id="confirmPassword">
              </div>
            </div>
          </div>
        <div  class="form-row">
          <div class="col-12">
            <div class="form-group">
              <button type='submit' class="btn btn-primary">Login!</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
