<div class="row">
    <div class="col-xs-4" style="text-align: center;">
       <button class="btn btn-link" type="button" (click)="onReward()"><img src="https://art.pixilart.com/3971951bbd5b3f4.png" alt="text" class="img-responsive" style="max-height: 50px;margin-left: auto;margin-right: auto;">
            <h3 style="color: white;">Reward</h3>
        </button>
    </div>
    <div class="col-xs-4" style="text-align: center;">
        <button class="btn btn-link" type="button" (click)="onCloset()"><img src="http://pixelartmaker.com/art/65098cf435171bb.png" alt="text" class="img-responsive" style="max-height: 50px;transform: translate(5%,0%);">
            <h3 style="color: white;">Closet</h3>
        </button>
    </div>
    <div class="col-xs-4" style="text-align: center;">
       <button class="btn btn-link" type="button" (click)="onVideos()"><img src="https://art.pixilart.com/ab6e45293d7a80f.png" alt="text" class="img-responsive" style="max-height: 50px;margin-left: auto;margin-right: auto;">
            <h3 style="color: white;">Videos</h3>
        </button>
    </div>
</div>