<div class="row">
    <div class="col-xs-4" style="text-align: center;">
       <button class="btn btn-link" type="button" (click)="onReward()"><img src="https://static.thenounproject.com/png/6758-200.png" alt="text" class="img-responsive" style="max-height: 50px;margin-left: auto;margin-right: auto;">
            <h3>Reward</h3>
        </button>
    </div>
    <div class="col-xs-4" style="text-align: center;">
        <button class="btn btn-link" type="button" (click)="onCloset()"><img src="http://pixelartmaker.com/art/65098cf435171bb.png" alt="text" class="img-responsive" style="max-height: 50px;transform: translate(5%,0%);">
            <h3>Closet</h3>
        </button>
    </div>
    <div class="col-xs-4" style="text-align: center;">
       <button class="btn btn-link" type="button" (click)="onVideos()"><img src="https://images.vexels.com/media/users/3/153065/isolated/preview/ba0a47019b13d2bf2adfe0d8a1656fd0---cone-plana-de-claquete-by-vexels.png" alt="text" class="img-responsive" style="max-height: 50px;margin-left: auto;margin-right: auto;">
            <h3>Videos</h3>
        </button>
    </div>
</div>
