<nav class="navbar navbar-default">
    <div class="container fluid">
        <div class="navbar-header">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown" appDropdown>
                    <a style="cursor: pointer" class="dropdown-toggle" role="button">
                        <img src="https://cdn.pixabay.com/photo/2017/10/18/10/15/stick-man-2863519_960_720.png" class="img-responsive img-circle" style="max-height: 50px;"><span></span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-left">
                        <li><a style="cursor: pointer" (click)="onProfile()">Profile</a></li>
                        <li><a style="cursor: pointer" (click)="onCloset()">Closet</a></li>
                        <li><a style="cursor: pointer" (click)="onReward()">Reward</a></li>
                        <li><a style="cursor: pointer" (click)="onVideos()">Videos</a></li>
                        <li><a style="cursor: pointer" (click)="onGuild()">Guild</a></li>
                        <li><a style="cursor: pointer" (click)="onEvents()">Events</a></li>
                        <li><a style="cursor: pointer" (click)="onNotifications()">Notifications</a></li>
                        <li><a style="cursor: pointer" (click)="onSignout()">Signout</a></li>
                    </ul>
                </li>
            </ul>
        </div> 
    </div>
    <div class="navbar-collapse" [class.collapse]="collapsed" (window:resize)="collapsed=true">

    </div>
</nav>