<body>
    <section>
        <nav>
            <div class="centered">
                <div class="col-xs-4" style="text-align: center;">
                    <button class="btn btn-link" type="button" ><img src="https://static.thenounproject.com/png/6758-200.png" alt="text" class="img-responsive" style="max-height: 50px;"></button>
                    <h4>Rewards to Approve</h4>
                </div>
            </div>
        </nav>
            
        <article>
            <div class="split-right" style="display: inline-block;">
                <div class="centered" style="margin-top: 1%;">
                    <label>From: Person´s name</label>
                    <label style="margin-left: 2em;">To: Person´s name</label>
                    <img src="https://image.flaticon.com/icons/png/512/2108/2108090.png" style="margin-left: 1em;" width="20" height="20">
                    <label style="margin-right: 2em;">Person's champies</label>
                    <a data-toggle="tooltip" data-placement="Why" title="Reason why the champies were given">Top</a>
                    <input type="checkbox" class="custom-control-input" id="approve" checked style="margin-left: 2em;">
                    <label class="custom-control-label" for="approve">Approve</label>
                </div>
                <div class="centered" style="margin-top: 2%;">
                    <label>From: Person´s name</label>
                    <label style="margin-left: 2em;">To: Person´s name</label>
                    <img src="https://image.flaticon.com/icons/png/512/2108/2108090.png" style="margin-left: 1em;" width="20" height="20">
                    <label style="margin-right: 2em;">Person's champies</label>
                    <a data-toggle="tooltip" data-placement="Why" title="Reason why the champies were given">Top</a>
                    <input type="checkbox" class="custom-control-input" id="approve" checked style="margin-left: 2em;">
                    <label class="custom-control-label" for="approve">Approve</label>
                </div>
                <div class="centered" style="margin-top: 2%; margin-bottom: 10%;">
                    <label>From: Person´s name</label>
                    <label style="margin-left: 2em;">To: Person´s name</label>
                    <img src="https://image.flaticon.com/icons/png/512/2108/2108090.png" style="margin-left: 1em;" width="20" height="20">
                    <label style="margin-right: 2em;">Person's champies</label>
                    <a data-toggle="tooltip" data-placement="Why" title="Reason why the champies were given">Top</a>
                    <input type="checkbox" class="custom-control-input" id="approve" checked style="margin-left: 2em;">
                    <label class="custom-control-label" for="approve">Approve</label>
                    <button type="submit" class="btn btn-primary" id="save" style="margin-right: 1%;">Save</button>
                </div>
            </div>
        </article>
    </section>
</body>