<div class="row">
    <div class="col-xs-12">
        <div class="btn-group dropup" appDropdown>
            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" style="background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ8og5cXfVScRr9OS9iLJT02FfSsWHAyVazDYSLfqirpebfFYBjrg);background-size: contain;">
                <img src="https://cdn3.iconfinder.com/data/icons/miscellaneous-15/100/Gear-512.png" alt="Gear" style="max-height: 50px;">
            </button>
            <ul class="dropdown-menu">
                <li><a style="cursor: pointer;" (click)="onChangePassword()">Change Password</a></li>
            </ul>
        </div>
    </div>  
</div>
