.App-Container{
    position: absolute;
    overflow: auto;
    width: 100%;
    height: 100%;
    background-image: url(../assets/AppImages/Bachgroumd.png);
    background-size: cover;
    /*  border: 30px solid transparent;
    padding: 20px;
  border-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ8og5cXfVScRr9OS9iLJT02FfSsWHAyVazDYSLfqirpebfFYBjrg) 12% round;*/
    image-rendering: crisp-edges;
}
::-webkit-scrollbar{
    width: 8px;
  }
  ::-webkit-scrollbar-track{
    background: black;
  }
  ::-webkit-scrollbar-thumb{
    background: grey;
  }
  ::-webkit-scrollbar-thumb:hover{
    background: white;
  }