<body>
    <section>
        <nav>
            <div class="centered">
                <div class="col-xs-4" style="text-align: center;">
                    <button class="btn btn-link" type="button"><img src="https://images.vexels.com/media/users/3/153065/isolated/preview/ba0a47019b13d2bf2adfe0d8a1656fd0---cone-plana-de-claquete-by-vexels.png" alt="text" class="img-responsive" style="max-height: 50px;"></button>
                    <h3>Videos</h3>
                </div>
            </div>
        </nav>
          
        <article>
            <div class="split right">
                <div class="centered">
                    <ul class="list-group">
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Java
                            <span class="badge badge-primary badge-pill">14</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Spring
                            <span class="badge badge-primary badge-pill">2</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Angular
                            <span class="badge badge-primary badge-pill">1</span>
                        </li>
                    </ul>   
                </div>
            </div>
            <div>
                <button type='submit' class="btn btn-primary">Save</button>
            </div>
        </article>
    </section>
</body>