<div class="form-check mb-2 mr-sm-2">
    <label class="form-check-label" type="inlineFormCheck"><h3>{{event.name}}</h3></label>
</div>
<div class="form-check mb-2 mr-sm-2" id="labels" style="display: inline-flex; justify-content: flex-end">
    <input class="form-check-input" type="checkbox" id="inlineFormCheck">
    <span class="form-check-label" for="inlineFormCheck" style="margin-right: 10px;">
        Went
    </span>
    <input class="form-check-input" type="checkbox" id="inlineFormCheck">
    <span class="form-check-label" for="inlineFormCheck">
        Didn't go
    </span>
</div>