<div class="form-check mb-2 mr-sm-2" >
        <hr>
    <label class="form-check-label" type="inlineFormCheck" style="margin-right: 20px;margin-left: 5px;"><h3>{{event.name}}</h3></label>

    <input class="form-check-input" type="checkbox" id="inlineFormCheck">
    <span class="form-check-label" for="inlineFormCheck" style="margin-right: 10px;">
        Went
    </span>
    <input class="form-check-input" type="checkbox" id="inlineFormCheck">
    <span class="form-check-label" for="inlineFormCheck">
        Didn't go
    </span>
    
</div>