<div class="centered">
    <div class="col-xs-4" style="text-align: center;">
        <button class="btn btn-link" type="button" ><img src="https://image.flaticon.com/icons/svg/2097/2097137.svg" alt="text" class="img-responsive" style="max-height: 50px;"></button>
        <h4>Add Events</h4>
    </div>
</div>
<div class="split-right" style="display: inline-block;">
    <form #eventForm="ngForm" (ngSubmit)="onSubmit(eventForm.value)" class="container-fluid">
    <div>
        <div class="form-group">
            <label style="margin-right: 10px;">Event Date</label>
            <input type="date" class="form-control">
        </div>
        <div class="form-group">
            <label style="margin-right: 10px;">Name</label>
            <input type="text" class="form-control">
        </div>
        <div>
            <label style="margin-right: 10px;">Type</label>
            <div style="display: inline-block;">
                <select id="inputSubject" class="form-control">
                    <option selected>Select a subject</option>
                    <option>Kick-off</option>
                    <option>Checkpoint</option>
                    <option>Christmas Dinner</option>
                    <option>Family Day</option>
                    <option>Happy-hour</option>
                    <option>Boarding Games</option>
                    <option>Annual Trip</option>
                    <option>Talking Session</option>
                    <option>Other</option>
                </select>
            </div>
        </div>
        <div class="text-right form-group" style="padding-left: 225%;">
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </div>
</form>
</div>
