<body>
    <section>
        <nav>
            <div class="centered">
                <div class="col-xs-4" style="text-align: center;">
                    <button class="btn btn-link" type="button"><img
                        src="https://image.flaticon.com/icons/svg/2097/2097137.svg" alt="text"
                        class="img-responsive" style="max-height: 50px;">
                    </button>
                    <h4>Add Events</h4>
                </div>
            </div>
        </nav>
        <form [formGroup]="addEventForm" (ngSubmit)="onSubmit(addEventForm.value); addEvent.reset()" class="container-fluid">
            <div class="col-12" >
                <div class="form-group" style="display:inline-block; margin-right: 20%; margin-left: 5%; margin-top: 5%;">
                    <label style="margin-right: 10px;">Event Date</label>
                    <input class="form-group" name="date" type="date" formControlName="date" required>
                </div>
                <div class="form-check" style="display:inline-block;">
                    <input type="checkbox" class="form-check-input" name="repetition" formControlName="isEventRecurrent">
                    <label class="form-check-label" style="margin-right: 10px;">Event is recurrent?</label>
                </div>
            </div>
            <div class="col-12">
                <div class="form-group" style="display:inline; margin-right: 20%; margin-left: 5%;">
                    <label style="margin-right: 10px;">Name</label>
                    <input class="form-group" name="name" formControlName="name" required>
                </div>
                <div class="form-group" style="display:inline; margin-right: 5%;">
                    <label style="margin-right: 10px;">Type</label>
                    <div style="display: inline-block;">
                        <select id="inputSubject" data="type" class="form-control" formControlName="type" required>
                            <option selected>Select a type of event</option>
                            <option>Kick-off</option>
                            <option>Checkpoint</option>
                            <option>Christmas Dinner</option>
                            <option>Family Day</option>
                            <option>Happy-hour</option>
                            <option>Boarding Games</option>
                            <option>Annual Trip</option>
                            <option>Talking Session</option>
                            <option>Other</option>
                        </select>
                    </div>
                </div> 
                <div class="form-group" style="display:inline-block; margin-right: 20%; margin-left: 5%;">
                    <div class="input-group clockpicker" style="margin-top: 5%;">
                        <label style="margin-right: 10px;">Start hour</label>
                        <input type="time" class="form-group" formControlName="startHour" required>
                    </div>
                    <div class="input-group clockpicker" style="margin-top: 5%;">
                        <label style="margin-right: 10px;">Finish hour</label>
                        <input type="time" class="form-group"formControlName="finishHour" required>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary" [disabled]="!addEventForm.valid" (click)="submit();"
                style="display:inline-block; margin-right: 20%; margin-left: 5%;">Submit</button>
            </div>
        </form>
    </section>
</body>