/* Style the header */
  header {
    background-color: transparent;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
  }
  
  /* Create two columns/boxes that floats next to each other */
  nav {
    float: left;
    width: 30%;
    height: 400px; /* only for demonstration, should be removed */
    background: transparent;
    padding: 50px;
  }
  
  /* Style the list inside the menu */
  nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  article {
    float: left;
    padding: 20px;
    width: 70%;
    background-color: transparent;
    font-size: 16px;
  }
  
  /* Clear floats after the columns */
  section:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Style the footer */
  footer {
    background-color: transparent;
    padding: 10px;
    text-align: center;
    color: white;
  }
  
  /* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
  @media (max-width: 600px) {
    nav, article {
      width: 100%;
      height: auto;
    }
  }

  #labelWhy{
    padding-bottom: 2px;
  }

 .split-right{
  display: inline-block;
  }

  /**{
    background-color: transparent;
  }*/

  @font-face{
    src: url(../../../fonts/ka1.ttf);
    font-family: karmatic-arcade;
  }

  *{
    font-family: karmatic-arcade;
  }