<div class="card" id="card">
    <div class="card-body">
        <div class="row">
            <div class="col-xs-12"> 
                <img src="http://pixelartmaker.com/art/65098cf435171bb.png" alt="closet" class="img-responsive" style="max-height: 200px; max-width: 300px;">
                <div class="card_text" id="card_text">
                    <div class="card-body">
                        <h2>closet</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>